.container {
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
}
.container > * {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
@media ( min-width: 350px ) {

}

@media ( min-width: 782px ) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 4em 6em;
  }
}

@media ( min-width: 1120px ) {

}
